##
## DbUtils Properties File Template
##
## Use for $ literal
##
#set($D = '$')
##
#  DbUtils SQL Properties
#
#  Copyright (c) $DateTool.get('yyyy') Rothsmith, LLC, All rights reserved.
#
#  Generated on $DateTool by $propsMetaData.getUser()
#
##
## Process all DAO configuration metadata objects.
##
#set($dtoClassMetaData=$propsMetaData.getDtoClassMetaData())
#if($dtoClassMetaData)
dto=$dtoClassMetaData.getPackageName().$dtoClassMetaData.getClassName()
#else
args=java.lang.Object[]
#end
dataSource=$propsMetaData.getJndiName()
	
#foreach($key in $propsMetaData.getStatementMap().keySet())
query.${key}=$StringUtils.replace($propsMetaData.getStatementMap().get($key),'"',"&quot;") 
#end

